<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../Styles/about.css">
    <link rel="stylesheet" href="about.css">
    <title>About Us</title>
  </head>
  <body>
    <link rel="stylesheet" href="Contact_us.css">
    <div class="head">
      <div class="Name_div nav"><p>AI Finder</p></div>
      <div class="nav_div">
        <a class="redirect" href="/contact_us">Contact Us</a>
        <a class="redirect" href="/about">About</a>
        <a class="redirect" href="/Homepage">Home</a>
      </div>
    </div>
    <div class="textContainer">
      <div class="part">
        <h1 class="heading">
          Welcome to Ai Finder - Your Gateway to the World of AI
        </h1>
        <p class="text">
          Are you curious about the endless possibilities of artificial
          intelligence? Do you seek the latest innovations, tools, and
          applications
          powered by AI technology? Look no further; you've arrived at the right
          place. At Ai Finder, we're passionate about connecting you with the
          incredible world of artificial intelligence. Our mission is simple yet
          powerful: to make AI accessible to everyone. Whether you're a
          developer, a
          business owner, a researcher, or simply an AI enthusiast, we've
          curated an
          extensive collection of AI applications to help you find the right
          tools
          to meet your needs.
        </p>
        <br />
      </div>
      <div class="part">
        <h1 class="heading">Discover the Future of AI:</h1>
        <p class="text">
          <span class="heading">Categorized AI Showcase: </span>
          <br>
          Dive into a carefully organized collection of AI
          applications, each tailored to specific categories. From Computer
          Vision
          to Natural Language Processing, explore the AI solutions that are
          transforming industries.
          <br>
          <br>
          <span class="heading">Stay Informed: </span>
          <br>
          We continuously update our
          listings with the latest and most innovative AI tools. You can rely on
          Ai
          Finder to keep you informed about cutting-edge developments in the AI
          landscape.
          <br>
          <br>
          <span class="heading">Community and Interaction: </span>
          <br>
          Join our growing community of AI
          enthusiasts and professionals. Share your thoughts, engage in
          discussions,
          and stay connected with like-minded individuals who are as passionate
          about AI as you are.
        </p>
      </div>
    </div>

    <div class="people">
      <div class="header">
        Contributors
      </div>
      <div class="in">
        <div class="img">
          <img src="Resources/People/Vatsal.jpg" alt="Vatsal" 
          style="
          float: left;
          width: 220px;
          height: 220px;
          background-size: cover;
          border-radius: 110px;
          "
          >
        </div>
        <div class="info">
        <div class="name">Vatsal Bharkhada</div>
        <p class="text">Computer Engineering Student at CHARUSAT
          <br>
          <p class="other">
          <div class="item"><span class="hed">Age:</span> 19 Years <br></div>
          <div class="item"><span class="hed">Gender:</span> Male <br></div>
          <div class="item"><span class="hed">Role:</span> Backend Developer, Database Manager, Server, etc. <br></div>
          <div class="item"><span class="hed">Languages:</span> HTML, CSS, Javascript, Java, C++, C, ejs, node.js</div>
          </p>
        </p>
        </div>
      </div>
      <div class="in">
        <div class="img">
          <img src="Resources/People/" alt="Vatsal" 
          style="
          float: left;
          width: 220px;
          height: 220px;
          background-size: cover;
          border-radius: 110px;
          "
          >
        </div>
        <div class="info">
        <div class="name">Meet Chhatrala</div>
        <p class="text">Computer Engineering Student at CHARUSAT
          <br>
          <p class="other">
          <div class="item"><span class="hed">Age:</span> 19 Years <br></div>
          <div class="item"><span class="hed">Gender:</span> Male <br></div>
          <div class="item"><span class="hed">Role:</span> Backend Developer, Database Manager, Server, etc. <br></div>
          <div class="item"><span class="hed">Languages:</span> HTML, CSS, Javascript, Java, C++, C, ejs, node.js</div>
          </p>
        </p>
        </div>
      </div>
      <div class="in">
        <div class="img">
          <img src="Resources/People/" alt="Vatsal" 
          style="
          float: left;
          width: 220px;
          height: 220px;
          background-size: cover;
          border-radius: 110px;
          "
          >
        </div>
        <div class="info">
        <div class="name">Darshil Chocha</div>
        <p class="text">Computer Engineering Student at CHARUSAT
          <br>
          <p class="other">
          <div class="item"><span class="hed">Age:</span> 19 Years <br></div>
          <div class="item"><span class="hed">Gender:</span> Male <br></div>
          <div class="item"><span class="hed">Role:</span> Backend Developer, Database Manager, Server, etc. <br></div>
          <div class="item"><span class="hed">Languages:</span> HTML, CSS, Javascript, Java, C++, C, ejs, node.js</div>
          </p>
        </p>
        </div>
      </div>
      <div class="in">
        <div class="img">
          <img src="Resources/People/" alt="Vatsal" 
          style="
          float: left;
          width: 220px;
          height: 220px;
          background-size: cover;
          border-radius: 110px;
          "
          >
        </div>
        <div class="info">
        <div class="name">Dev Bhimani</div>
        <p class="text">Computer Engineering Student at CHARUSAT
          <br>
          <p class="other">
          <div class="item"><span class="hed">Age:</span> 19 Years <br></div>
          <div class="item"><span class="hed">Gender:</span> Male <br></div>
          <div class="item"><span class="hed">Role:</span> Backend Developer, Database Manager, Server, etc. <br></div>
          <div class="item"><span class="hed">Languages:</span> HTML, CSS, Javascript, Java, C++, C, ejs, node.js</div>
          </p>
        </p>
        </div>
      </div>
    </div>
  </body>
</html>
