body {
  /* font-family: Montserrat, sans-serif !important;  */
  background-color: white;
  font-family: "Regular";
}

@font-face {
  font-family: "Regular";
  src: url("ObjectSans/Regular.otf") format("opentype");
}
@font-face {
  font-family: "Heavy";
  src: url("ObjectSans/Heavy.otf") format("opentype");
}

html {
  margin: none;
}
* {
  margin: 0;
  padding: 0;
}

a:link {
  color: #131412;
  text-decoration: none;
}

a:visited {
  color: #131412;
}

/* mouse over link */
a:hover {
  color: white;
  font-size: 14px;
}

/* selected link */
a:active {
  color: #464943;
}

#head1 {
  text-align: center;
  padding-top: 90px;
  color: #242424;
  font-size: 64px;
  font-family: "Heavy";
  font-weight: 200;
}

#header {
  margin: 0px;
  padding: 0% 0% 5% 0%;
  background-image: url("Resources/backgrounds/intro.jpg");
  background-color: #ffffff;
  background-size: cover;
  width: 100%;
  /* color:#2b2b2b !important; */
}

.header_nav .nav_items {
  font-size: 13px;
  display: block;
  width: 100px;
  height: 50px;
  float: right;
  margin: none;
}

.header_nav {
  margin-right: 2%;
}

.head {
  color: #333333;
  background: #d2d2d299;
  backdrop-filter: blur(2px);
}

.nav_items p {
  text-align: center;
  vertical-align: middle;
  margin-top: 25px;
}

.login_button {
  display: block;
}

.logout {
  display: block;
}

.nav_div .login {
  text-align: center;
  float: right;
  padding: 10px 20px;
  margin: 8.8px 10px;
  font: inherit;
  font-size: 12px;
  background: rgba(225, 225, 225, 0.629);
  outline: none;
  border: none;
  border-radius: 12px;
  color: #e7e7e7;
  font-size: 14px;
  transition: 300ms ease-in-out;
  --height_button: 60px;
  transition: 0.5s ease;
}

.nav_div .login:hover {
  color: rgb(180, 180, 180);
  background: #4e4e4e;
  transition: 0.5s ease;
  cursor: pointer;
}

.search-container {
  position: relative;
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  /* flex-basis: 400px; */
  /* height: 200px; */
  background-color: transparent;
}
#search-form {
  display: flex;
  justify-content: center;
  /* color: #5d5d5d; */
  font-size: 16px !important;
  outline: none;
  padding: 0px 0px 0px 10px;
  background-color: #d2d2d299;
  height: 50px;
  width: 400px;
  /* border: 2px solid rgb(236, 234, 234); */
  border-radius: 10px;
}

#input-box {
  float: left;
  color: #242424fb;
  font-size: 15px !important;
  font-family: inherit;
  background: transparent !important;
  outline: none;
  height: 50px;
  width: 90%;
  border: none;
}

#input-box:focus {
  background: transparent !important;
}

#search-submit {
  display: flex;
  justify-content: center;
  float: right;
  color: #fff;
  background: transparent;
  height: 50px;
  width: 60px;
  outline: none;
  border: none;
  transition: 300ms ease;
}

#search-submit:hover {
  cursor: pointer;
  color: #ececec;
  transition: 500ms ease;
}

.bx-search {
  width: 100%;
  font-size: 28px;
  margin: 11px 6px;
  color: #131412;
}
.search-box {
  width: 400px;
  background: #fff;
  margin: auto;
  border-radius: 5px;
}
/* .row {
  display: flex;
  align-items: center;
  padding: 10px 20px;
} */

input {
  flex: 1;
  height: 50px;
  background: transparent;
  border: 0;
  outline: 0;
  font-size: 18px;
  color: #333;
}

::placeholder {
  color: #555;
}

.result-box {
  position: relative;
  width: 400px;
  height: 100px;
  overflow: auto;
  /* z-index: 2; */
  border-radius: 10px;
}

.result-box ul {
  border-top: 1px solid #999;
}

.result-box li {
  list-style: none;
  /* border-radius: 3px; */
  padding: 10px 10px;
  cursor: pointer;
  background-color: rgb(228, 228, 228);
}

.result-box li:hover {
  background: #9bc8ff;
}

.result-box:hover {
  visibility: visible;
}

.result-box::-webkit-scrollbar {
  width: 5px;
}

/* Handle */
.result-box::-webkit-scrollbar-thumb {
  background: rgba(143, 135, 135, 0.45);
  border-radius: 10px;
}

/* Handle on hover */
.result-box::-webkit-scrollbar-thumb:hover {
  background: #464943;
}

.container2 {
  /* padding: 0px 25px; */
  background-color: rgb(255, 255, 255);
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  /* display: grid;
  grid-row: 1/span; */
}

.catMain{
  background-color: #9eecfe00;
}

.container2 {
  padding: 0px 25px;
  margin: 0px 0px 40px 0px;
  background-color: rgba(255, 255, 255, 0);
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  /* display: grid;
  grid-row: 1/span; */
}

.box {
  height: 400px;
  width: 500px;
  margin: 40px 60px 0px 60px;
  display: inline-block;
  position: relative;
  text-align: center;
  font-size: 20px;
  /* border: #3b3b3bbc solid 3px; */
  border-radius: 10px;
  outline: none;
  border: none;
  transition: 500ms ease;
  background-color: #4aa1ff00;
}

.box:hover {
  cursor: pointer;
  color: #131412;
  box-shadow: 0px 14px 60px 0px rgb(140, 140, 140);
  transition: 500ms ease;
}

.box h2 {
  font-size: 48px;
  padding-top: 60%;
  font-family: "Heavy";
  color: #2b2b2b !important;
  background-color: #242424;
  background-image: linear-gradient(146deg, #5d96ff 0%, #405dff 100%);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
}

.box1 {
  background: linear-gradient(
    to top,
    rgb(255, 255, 255) 15%,
    rgba(203, 203, 203, 0) 40%
    ),
    url("Resources/contbg/video.jpg");
    background-size: contain;
    background-repeat: no-repeat;
    box-shadow: 0px 14px 60px 0px #ccc;
    /* mix-blend-mode: multiply !important; */
  }
  
  .box2 {
    background: linear-gradient(
      to top,
      rgb(255, 255, 255) 15%,
      rgba(203, 203, 203, 0) 40%
      ),
      url("Resources/contbg/logo.jpg");
      background-size: contain;
      background-repeat: no-repeat;
      box-shadow: 0px 14px 60px 0px #ccc;
      /* mix-blend-mode: multiply !important; */
    }
    .box3 {
      background: linear-gradient(
        to top,
        rgb(255, 255, 255) 15%,
      rgba(203, 203, 203, 0) 40%
    ),
    url("Resources/contbg/image.jpg");
    background-size: contain;
    background-repeat: no-repeat;
    box-shadow: 0px 14px 60px 0px #ccc;
        /* mix-blend-mode: multiply !important; */
  }
  
  .box4 {
    background: linear-gradient(
      to top,
      rgb(255, 255, 255) 15%,
      rgba(203, 203, 203, 0) 40%
      ),
      url("Resources/contbg/copy.jpg");
      background-size: contain;
      background-repeat: no-repeat;
      box-shadow: 0px 14px 60px 0px #ccc;
      /* mix-blend-mode: multiply !important; */
}

/* #main_div #cell{
    width: 22%;
    height: 400px;
    border-radius: 5px;
    background-color: #575b53;
    margin: 10px;
    display: inline-block;
    align-content: center;
} */

.intro_main {
  position: relative;
  z-index: 0;
}
.intro {
  width: 90%;
  height: 300px;
  border-radius: 20px;
  background-color: rgba(159, 204, 255, 0.496);
  backdrop-filter: blur(2px);
  margin: 0% 5% 2% 5%;
  display: flex;
  /* justify-content: center; */
  align-items: center;
  /* background-image: url("Resources/backgrounds/intro.jpg"); */
  background-size: cover;
  background-repeat: no-repeat;
}
.intro_text {
  width: 600px;
  font-size: 24px;
  padding: 30px;
  margin: 0px 0px 0px 60px;
  text-align: left;
  color: #131412;
}

.headText {
  font-size: 48px;
  font-family: "Heavy";
  color: #2b2b2b !important;
  background-color: #242424;
  background-image: linear-gradient(146deg, #5d96ff 0%, #405dff 100%);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
  padding-right: 2px;
}

.main_body{
  background-color: #cee6ff;
  padding: 20px 0px 0px 0px;
}

.cat {
  margin: 20px 20px;
  font-size: 25px;
  border-radius: 20px;
}

.cat_in {
  color: aliceblue;
  background: linear-gradient(90deg, #3a47d5 0%, #00d2ff 100%);
  padding: 20px;
  text-align: left;
  border-radius: 20px;
  font-size: 36px;
  font-family: "Heavy";
}

.cat_text {
  margin: 0px 0px 0px 30px;
}

.footer_main {
  height: 300px;
  width: 100%;
  background-color: #575b53;
}

.footer_main .message_1 {
  padding-top: 60px;
  font-size: 20px;
  color: aliceblue;
  font-family: inherit;
  text-align: center;
}

.confirmation {
  display: none;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 2%;
  left: 2%;
  width: 220px;
  height: 50px;
  background-color: rgb(255, 255, 255);
  border-radius: 25px;
}
.confirmation_inner {
  float: left;
  display: flex;
  vertical-align: middle;
  width: 180px;
  height: auto;
}

.confirmation_inner p {
  font-size: 18px;
  margin: auto;
}
.confirmation_inner button {
  float: right;
  width: 50px;
  height: 25px;
  background: #7337ff;
  outline: none;
  border: none;
  border-radius: 12px;
  color: aliceblue;
}

.confirmation_inner button i {
  font-size: 18px;
}
